### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).

In [1]:
#Import Dependencies
import os
import pandas as pd

In [2]:
#Import the CSV file and tell pandas where to find it
gamedata_csv = os.path.join("Resources", "purchase_data.csv")
main_df = pd.read_csv(gamedata_csv)

In [3]:
#Display the total number of players
#Dreate a new data frame with just the SN column
#Find unique player names in the SN column and count them
playercount_df = main_df.loc[:,"SN"].nunique()

## Player Count

In [4]:
players_total_df = pd.DataFrame([{"Total Players":playercount_df}])
players_total_df
players_total_df.set_index('Total Players', inplace=True)
players_total_df
#For Aesthetics, turned Total players into the index to hide the zero

Empty DataFrame
Columns: []
Index: [576]

## Purchase Analysis (Total)

In [5]:
#Purchase Analysis
pd.options.display.float_format = '${:,.2f}'.format
#Find Number of Unique Items
unique_items = main_df.loc[:,"Item ID"]
#Find Average Price of Items
average_price = main_df.loc[:,"Price"]
#Find Total Number of Purchases
total_purchases = main_df.loc[:,"Purchase ID"]
#Find the Sum of of Price for Total Revenue
total_revenue = main_df.loc[:,"Price"]


#Create a new dataframe and have 4 columns for total number of purchases, and revenue
purchase_analysis_df = pd.DataFrame([{"Number of Unique Items":unique_items.nunique(),
                                      "Average Price":average_price.mean(),
                                      "Number Of Purchases":total_purchases.count(),
                                      "Total Revenue":total_revenue.sum()}])
purchase_analysis_df = purchase_analysis_df[["Number of Unique Items", "Average Price", "Number Of Purchases", "Total Revenue"]]
purchase_analysis_df

   Number of Unique Items  Average Price  Number Of Purchases  Total Revenue
0                     183          $3.05                  780      $2,379.77

## Gender Demographics

In [6]:
#Format it
pd.options.display.float_format = '{:,.2f}%'.format
#Gender Demographics
#Group by Gender
#Figure out .nunique() of those genders
#Drop Columns that are not needed such as Purchase ID, Age, Gender, Item ID, Item Name, Price
gender_demographics = pd.DataFrame(main_df.groupby("Gender")["SN"].nunique())
#Rename Column df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
new_gender_df = gender_demographics.rename(columns={'SN': 'Total Count'})
#Divide Total Count rows by the Sum of the Total Count 
new_gender_df['Percentage of Players'] = (new_gender_df['Total Count'] / new_gender_df['Total Count'].sum()) *100
#Sort it
new_gender_df = new_gender_df.sort_values("Total Count",ascending = False)
new_gender_df

                       Total Count  Percentage of Players
Gender
Male                           484                 84.03%
Female                          81                 14.06%
Other / Non-Disclosed           11                  1.91%

## Purchasing Analysis (Gender)

In [7]:
pd.options.display.float_format = '${:,.2f}'.format
#Purchasing Analysis Gender
#"Purchase Count" "Average Purchase" "Price Total Purchase" "Value Avg Total" "Purchase per Person"
#Group by Gender and Get nunique of Purchase ID to get purchases
gender_analysis = pd.DataFrame(main_df.groupby("Gender")["Purchase ID"].nunique())
#Rename the column
gender_analysis = gender_analysis.rename(columns={'Purchase ID':'Purchase Count'})
#Add a group by column to the dataframe with all the calculations
gender_analysis['Average Purchase Price'] = main_df.groupby("Gender")["Price"].mean()
gender_analysis['Total Purchase Value'] = main_df.groupby("Gender")["Price"].sum()
#gender_analysis['Avg Total Purchase per Person'] = main_df.groupby("Gender")["Price"].nunique() (this didn't work)
gender_analysis['Avg Total Purchase per Person'] = gender_analysis['Total Purchase Value'] / main_df.groupby("Gender")\
["SN"].nunique()
gender_analysis
#Now Format at top

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [8]:
pd.options.display.float_format = '{:,.2f}%'.format
#Age Demographics
#Create Bins
# Create the bins in which Data will be held
# Bins are <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, >40
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 120]
# Create the names for the four bins
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#Categorize the existing players using the age bins. Hint: use pd.cut()
#Create a summary data frame to hold the results
age_df = pd.DataFrame(main_df)
age_df["Age Groups"] = pd.cut(main_df["Age"], age_bins, labels=age_groups) 
age_df = pd.DataFrame(age_df.groupby("Age Groups")["SN"].nunique())
#Rename SN to Total Count
age_df = age_df.rename(columns={'SN':'Total Count'})
#Calculate the numbers and percentages by age group
age_df['Percentage of Players'] = age_df['Total Count'] / main_df["SN"].nunique() *100
age_df

            Total Count  Percentage of Players
Age Groups
<10                  17                  2.95%
10-14                22                  3.82%
15-19               107                 18.58%
20-24               258                 44.79%
25-29                77                 13.37%
30-34                52                  9.03%
35-39                31                  5.38%
40+                  12                  2.08%

## Purchasing Analysis (Age)

In [9]:
pd.options.display.float_format = '${:,.2f}'.format
#Bin the purchase_data data frame by age
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame
age_df = pd.DataFrame(main_df)
new_age_df = pd.DataFrame(age_df.groupby("Age Groups")["SN"].count())
new_age_df = new_age_df.rename(columns={'SN':'Purchase Count'})
new_age_df['Average Purchase Price'] = age_df.groupby("Age Groups")["Price"].mean()
new_age_df['Total Purchase Value'] = age_df.groupby("Age Groups")["Price"].sum()
new_age_df['Avg Total Purchase per Person'] = new_age_df['Total Purchase Value'] / age_df.groupby("Age Groups")\
["SN"].nunique()
new_age_df.head(8)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [10]:
#new dataframe where SN is the group by showing purchase count per sn, average purchase price and total purchase value
sn_df = pd.DataFrame(main_df.groupby("SN")["Purchase ID"].nunique())
sn_df = sn_df.rename(columns={'Purchase ID':'Purchase Count'})
sn_df['Average Purchase Price'] = main_df.groupby("SN")["Price"].mean()
sn_df['Total Purchase Value'] = main_df.groupby("SN")["Price"].sum()
sn_df = sn_df.sort_values(by=['Total Purchase Value'], ascending=False)
sn_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

## Most Popular Items

In [11]:
#New dataframe and pull in a list of item id, item name, and sum of value per item
#Group by Item ID, and  Item Name
#Create a new column that pulls the same groups and counts the item names by group id
#Figure out price per item based on the count/sum of value
#Rename the Columns
#Sort the rows
#Sort the Columns
item_df = main_df[["Item ID", "Item Name", "Price"]]
item_grouped_df = item_df.groupby(["Item ID", "Item Name"]).sum()
item_grouped_df["Purchase Count"] = item_df.groupby(["Item ID", "Item Name"]).count()
item_grouped_df["Item Price"] = (item_grouped_df["Price"]/item_grouped_df["Purchase Count"])
item_grouped_df = item_grouped_df.rename(columns={"Price":"Total Purchase Value"})
top_df = item_grouped_df.sort_values("Purchase Count", ascending=False)
top_df = top_df[["Purchase Count", "Item Price", "Total Purchase Value"]]
top_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

In [12]:
#Pull previous dataframe and re-sort.. 
most_profit_df = pd.DataFrame(top_df.sort_values("Total Purchase Value",ascending = False))
most_profit_df["Total Purchase Value"]=top_df["Total Purchase Value"]
most_profit_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80