### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).

In [112]:
#Import Dependencies
import os
import pandas as pd

In [113]:
#Import the CSV file and tell pandas where to find it
gamedata_csv = os.path.join("Resources", "purchase_data.csv")
main_df = pd.read_csv(gamedata_csv)
#main_df.dtypes
#main_df.columns
#Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [114]:
#Display the total number of players
#Dreate a new data frame with just the SN column
#Find unique player names in the SN column and count them
playercount_df = main_df.loc[:,"SN"].nunique()
#print("Total Players is " + str(playercount_df))

In [115]:
players_total_df = pd.DataFrame([{"Total Players":playercount_df}])
players_total_df

   Total Players
0            576

In [116]:
#Purchase Analysis
#Find Number of Unique Items
unique_items = main_df.loc[:,"Item ID"]
#unique_items.nunique()
#Find Average Price of Items
average_price = main_df.loc[:,"Price"]
#average_price.mean()
#Find Total Number of Purchases
total_purchases = main_df.loc[:,"Purchase ID"]
#total_purchases.count()
#Find the Sum of of Price for Total Revenue
total_revenue = main_df.loc[:,"Price"]
#total_revenue.sum()

In [117]:
#Create a new dataframe and have 4 columns for total number of purchases, and revenue
purchase_analysis_df = pd.DataFrame([{"Number of Unique Items":unique_items.nunique(),
                                      "Average Price":average_price.mean(),
                                      "Number Of Purchases":total_purchases.count(),
                                      "Total Revenue":total_revenue.sum()}])
purchase_analysis_df

   Average Price  Number Of Purchases  Number of Unique Items  Total Revenue
0       3.050987                  780                     183        2379.77

In [133]:
#Gender Demographics
#Group by Gender
#Figure out .nunique() of those genders
#Drop Columns that are not needed such as Purchase ID, Age, Gender, Item ID, Item Name, Price
gender_demographics = pd.DataFrame(main_df.groupby("Gender")["SN"].nunique())
gender_demographics 
#Rename Column df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
new_gender_df = gender_demographics.rename(columns={'SN': 'Total Count'})
#new_gender = new_gender_df.loc[:,'Total Count']
new_gender_df
#Divide Total Count rows by the Sum of the Total Count 
new_gender_df['Percentage of Players'] = (new_gender_df['Total Count'] / new_gender_df['Total Count'].sum()) *100
new_gender_df
#Sort it

#Format it

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722

In [143]:
#Purchasing Analysis Gender
#"Purchase Count" "Average Purchase" "Price Total Purchase" "Value Avg Total" "Purchase per Person"
#Group by Gender and Get nunique of Purchase ID to get purchases
gender_analysis = pd.DataFrame(main_df.groupby("Gender")["Purchase ID"].nunique())
#Rename the column
gender_analysis = gender_analysis.rename(columns={'Purchase ID':'Purchase Count'})
#Add a group by column to the dataframe with all the calculations
gender_analysis['Average Purchase Price'] = main_df.groupby("Gender")["Price"].mean()
gender_analysis['Total Purchase Value'] = main_df.groupby("Gender")["Price"].sum()
#gender_analysis['Avg Total Purchase per Person'] = main_df.groupby("Gender")["Price"].nunique() (this didn't work)
gender_analysis['Avg Total Purchase per Person'] = gender_analysis['Total Purchase Value'] / main_df.groupby("Gender")\
["SN"].nunique()


gender_analysis
#Now Format

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [145]:
main_df.head()
#Age Demographics
#Create Bins
# Create the bins in which Data will be held
# Bins are <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, >40
bins = [0, 9, 14, 19, 24, 29, 34, 39, 120]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#Categorize the existing players using the age bins. Hint: use pd.cut()
#Calculate the numbers and percentages by age group
#Create a summary data frame to hold the results
#Optional: round the percentage column to two decimal points
#Display Age Demographics Table
#Index = Bins
#Columns = "Total Count" "Percentage of Players"

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44